# DISCLAIMER: the inclusion of commonly-ignored files (e.g., .dll, .a, .la) de-necessitate IDE-specific configurations at the cost of more gibberish.

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.gcda
*.gcno

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
# *.la
# *.a
*.lib

# Executables
*.exe
*.out
*.app
/build/8964

# All Tiled assets excluding certain formats
/**/.tiled/*
!/**/.tiled/**/*.tsx
!/**/.tiled/**/*.tmx
!/**/.tiled/**/*.xml
!/**/.tiled/**/*.json